In [1]:
import numpy as np

In [2]:
x = np.array([["Germany","France"],["Berlin","Paris"]])
y = np.array([["Hungary","Austria"],["Budapest","Vienna"]])

In [3]:
x.shape

(2, 2)

In [4]:
x

array([['Germany', 'France'],
       ['Berlin', 'Paris']], dtype='<U7')

In [5]:
y.shape

(2, 2)

In [6]:
y

array([['Hungary', 'Austria'],
       ['Budapest', 'Vienna']], dtype='<U8')

In [8]:
# The default is row-wise concatenation for a 2D array
print('Joining two arrays along axis 0')
np.concatenate((x,y))

Joining two arrays along axis 0

array([['Germany', 'France'],
       ['Berlin', 'Paris'],
       ['Hungary', 'Austria'],
       ['Budapest', 'Vienna']], dtype='<U8')

In [9]:
# Column-wise
print('Joining two arrays along axis 1')
np.concatenate((x,y), axis = 1)

Joining two arrays along axis 1

array([['Germany', 'France', 'Hungary', 'Austria'],
       ['Berlin', 'Paris', 'Budapest', 'Vienna']], dtype='<U8')

In [10]:
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])

In [13]:
# one array in the top if another 
np.stack((a, b))

array([[1, 2, 3],
       [2, 3, 4]])

In [14]:
studentId = np.array([1,2,3,4])
name   = np.array(["Alice","Beth","Cathy","Dorothy"])
scores  = np.array([65,78,90,81])

In [15]:
np.stack((studentId, name, scores))

array([['1', '2', '3', '4'],
       ['Alice', 'Beth', 'Cathy', 'Dorothy'],
       ['65', '78', '90', '81']], dtype='<U11')

In [16]:
np.stack((studentId, name, scores)).shape

(3, 4)

In [17]:
np.stack((studentId, name, scores), axis =1)

array([['1', 'Alice', '65'],
       ['2', 'Beth', '78'],
       ['3', 'Cathy', '90'],
       ['4', 'Dorothy', '81']], dtype='<U11')

In [18]:
np.stack((studentId, name, scores), axis =1)

array([['1', 'Alice', '65'],
       ['2', 'Beth', '78'],
       ['3', 'Cathy', '90'],
       ['4', 'Dorothy', '81']], dtype='<U11')

In [19]:
np.stack((studentId, name, scores), axis =1).shape

(4, 3)

In [20]:
# vstack
# Stacks row wise
np.vstack((studentId, name, scores))

array([['1', '2', '3', '4'],
       ['Alice', 'Beth', 'Cathy', 'Dorothy'],
       ['65', '78', '90', '81']], dtype='<U11')

In [21]:
# hstack
# Stacks column wise
np.hstack((studentId, name, scores))

array(['1', '2', '3', '4', 'Alice', 'Beth', 'Cathy', 'Dorothy', '65',
       '78', '90', '81'], dtype='<U11')

In [22]:
np.hstack((studentId, name, scores)).shape

(12,)